<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wlecome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link href="{{ asset('css/jquery-ui/ui-lightness/jquery-ui-1.9.2.custom.css') }}" rel="stylesheet" media="screen" />

        {% stylesheets filter='yui_css' output='/css/generic.css'
            '@JmeSf2GenericBundle/Resources/less/generic.less'
        %}

        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

        {% javascripts output="/js/generic.js" filter="?yui_js"
            '@JmeSf2GenericBundle/Resources/coffee/generic.coffee'
        %}

        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
